<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="calculadora">
        <input type="text" id="display" [(ngModel)]="currentValue" readonly>
        <div class="botoes">
          <button class="operador" (click)="operador('+')">+</button>
          <button class="operador" (click)="operador('-')">-</button>
          <button class="operador" (click)="operador('*')">*</button>
          <button class="operador" (click)="operador('/')">/</button>
          <button (click)="numero(1)">1</button>
          <button (click)="numero(2)">2</button>
          <button (click)="numero(3)">3</button>
          <button (click)="numero(4)">4</button>
          <button (click)="numero(5)">5</button>
          <button (click)="numero(6)">6</button>
          <button (click)="numero(7)">7</button>
          <button (click)="numero(8)">8</button>
          <button (click)="numero(9)">9</button>
          <button (click)="numero(0)">0</button>
          <button class="limpar" (click)="limpar()">C</button>
          <button class="igual" (click)="resultado()">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
